/* app css stylesheet */
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select, textarea {
  color: #52575c;
}

.well-title {
  margin-top: 0px;
}
.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}

.blue {
  color:blue;
}


header
{
    background-image: url('../img/cover.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: grey;
    border-bottom: 50px solid #FFD217;
    min-height: 300px;
}

.yellow-background
{
  background-color: #FFD217;
  color: white;
}

.navbar .navbar-inner
{
  background-color: white;
}

body
{
  background-color: #F2F2F2 !important;
}

.thumbnail{
  min-width: 350px;
  min-height: 160px;
}

.center
{
  text-align: center;
}

.row
{
  background-color: white;
}