<div>
    <h1>User</h1>
    <hr/>
    <hr/>
    <ul class="thumbnails">
        <li class="span5">
            <a href="">
                <div class="well hoverwell">
                    <div class="row"><h2 class="span6">{{users.name}}</h2></div>
                    <div class="row">
                        <span class="span1">Email:</span>
                        <span>{{users.email}}</span>
                    </div>
                    <div class="row">
                        <span class="span1">Gender:</span>
                        <span>{{users.gender}}</span>
                    </div>
                    <div class="row">
                        <span class="span1">BoD:</span>
                        <span>{{users.bod}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>